<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.cvds.samples.persistence.mybatis.mappers.IniciativaMapper">


    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>        
        <result property='votos' column='votos'/>
        <result property='palabraClave' column='palabraclave'/>
        <result property='nombre' column='nombre'/>
        <result property='estado' column='estado'/>
        <result property='descripcion' column='descripcion'/>
        <result property='area' column='area'/>
        <result property='usuario_i' column='usuario_i'/>
        <result property='correo_i' column='correo_i'/>
        <result property='fechar_ini' column='fechar_ini'/>  
		
    </resultMap>
    
    <resultMap type='Iniciativa' id='agrupacionResult'>
        <id property='area2' column='area' javaType="string"/>
        <result property='cantidad' column='cantidad' javaType="java.lang.Long"/>
    </resultMap>
	
	
	<resultMap type='Iniciativa' id='IniciativaComentarioResult'>
		<id property='id' column='id'/>        
        <result property='votos' column='votos'/>
        <result property='palabraClave' column='palabraclave'/>
        <result property='nombre' column='nombre'/>
        <result property='estado' column='estado'/>
        <result property='descripcion' column='descripcion'/>
        <result property='area' column='area'/>
        <result property='usuario_i' column='usuario_i'/>
        <result property='correo_i' column='correo_i'/>
        <result property='fechar_ini' column='fechar_ini'/>  
		<collection property='comentarios' ofType='Comentario'
					resultMap="edu.eci.cvds.samples.persistence.mybatis.mappers.ComentarioMapper.ComentarioResult" columnPrefix="c_"></collection>
	</resultMap>
	
	

    <select parameterType="map" id='consultarComentariosUsuario' resultMap='IniciativaComentarioResult'>
       select i.id, 
	   i.votos, 
	   i.palabraclave, 
	   i.nombre, 
	   i.estado, 
	   i.descripcion, 
	   i.area, 
	   i.usuario_i, 
	   i.correo_i, 
	   i.fechar_ini, 
	   c.id as c_id, 
	   c.idUsuario as c_idusuario, 
	   c.idIniciativa as c_idiniciativa, 
	   c.contenido as c_contenido, 
	   c.fecha as c_fecha 
	   from iniciativas as i join comentarios as c on (c.idiniciativa=i.id) where c.idusuario like #{usuario};
	
    </select>	
	
	
    <select parameterType="map" id='palabraClaveIniciativa' resultMap='IniciativaResult'>
        select iniciativas.id ,
        iniciativas.votos,
        palabrasclave.palabraclave,
        iniciativas.nombre,
        iniciativas.estado,
        iniciativas.descripcion,
        iniciativas.area,
        iniciativas.usuario_i,
        iniciativas.correo_i,
        iniciativas.fechar_ini
        from iniciativas left join palabrasclave on (iniciativas.id =palabrasclave.idiniciativa) where palabrasclave.palabraclave =#{clave};
            
	
    </select>
    
    <select parameterType="map" id='consultarIniciativasPalabraClave' resultMap='IniciativaResult'>
        select iniciativas.id ,
        iniciativas.votos,
        iniciativas.palabraclave,
        iniciativas.nombre,
        iniciativas.estado,
        iniciativas.descripcion,
        iniciativas.area,
        iniciativas.usuario_i,
        iniciativas.correo_i,
        iniciativas.fechar_ini
        from iniciativas left join palabrasclave on (iniciativas.id =palabrasclave.idiniciativa) where palabrasclave.palabraclave LIKE #{clave};
        
    </select>

    <insert id='insertarPalabraClave' parameterType="map">
        INSERT INTO palabrasclave VALUES (#{id},#{idIniciativa},#{palabraClave});
    </insert>
	
    <select parameterType="map" id='consultarIniciativasProponente' resultMap='IniciativaResult'>
        SELECT
        iniciativas.id ,
        votos,
        palabraclave,
        nombre,
        estado,
        descripcion,
        area,
        usuario_i,
        correo_i,
        fechar_ini
        FROM iniciativas
        WHERE usuario_i LIKE #{usr};

        
    </select>
	
    <select  parameterType="map" id='consultarIniciativa' resultMap='IniciativaResult'>
        SELECT
        *
        FROM iniciativas 
        WHERE id=#{identificador};   
    </select>

    <select  parameterType="map" id='consultarIniciativasRelacionadas' resultMap='IniciativaResult'>
        SELECT
        ini. *
        FROM iniciativas ini INNER JOIN (SELECT id2 FROM filiniciativas WHERE id1 LIKE #{id}) se on ini.nombre = se.id2; 
    </select>
	
	
    <select  parameterType="map" id='consultarIniciativaPorEstado' resultMap='IniciativaResult'>
        SELECT
        *
        FROM iniciativas 
        WHERE estado LIKE #{estado};   
    </select>


    <insert id='insertarIniciativa' parameterType="map">
        INSERT INTO iniciativas VALUES (#{id},#{votos},#{palabraClave},#{nombre},#{estado},#{descripcion},#{area},#{usuario_i},#{correo_i},#{fechar_ini});
    </insert>
	
    <insert id='relacionarIniciativas' parameterType="map">
        INSERT INTO filiniciativas VALUES (#{id1},#{id2});
    </insert>
	
    <select id='consultarIniciativas' resultMap='IniciativaResult'>
        select * from iniciativas;
            	
    </select>
	
    <select id='agrupeIniciativas' resultMap='agrupacionResult'>
        SELECT area,count(id) as cantidad  FROM iniciativas GROUP BY area;
    </select>
	
    <select id='agrupeEstados' resultMap='agrupacionResult'>
        SELECT estado, count(id) as cantidad FROM iniciativas GROUP BY estado;
    </select>	
	
    <select id='consultarIniciativasVotadas' resultMap='IniciativaResult'>
		select i.id, i.votos, i.palabraclave, i.nombre, i.estado, i.descripcion, i.area, i.usuario_i, i.correo_i, i.fechar_ini from iniciativas as i join votos on (votos.idiniciativa = i.id) where votos.idusuario like #{usuario};
    </select>	
	

    <update id='cambiarEstado' parameterType="map">
        UPDATE iniciativas SET estado=#{estado} WHERE id = #{id};
    </update>

    <update id='agregueVoto' parameterType="map">
        UPDATE iniciativas SET votos= votos+1 WHERE id=#{idIniciativa};
    </update>
	
    <update id='modificarIniciativa' parameterType="map">
        UPDATE iniciativas SET descripcion= #{descripcion} WHERE id=#{id};
   
    </update>
  	
</mapper>