<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.cvds.samples.persistence.mybatis.mappers.IniciativaMapper">


	<resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>        
		<result property='votos' column='votos'/>
		<result property='palabraClave' column='palabraclave'/>
        <result property='nombre' column='nombre'/>
		<result property='estado' column='estado'/>
        <result property='descripcion' column='descripcion'/>
		<result property='area' column='area'/>
		<result property='usuario_i' column='usuario_i'/>
		<result property='correo_i' column='correo_i'/>
		<result property='fechar_ini' column='fechar_ini'/>   

    </resultMap>
	
	
		<select parameterType="map" id='palabraClaveIniciativa' resultMap='IniciativaResult'>
		SELECT
			* 
		FROM iniciativas 
		WHERE palabraclave=#{word};
	</select>


	<select  parameterType="map" id='consultarIniciativa' resultMap='IniciativaResult'>
        SELECT
            *
        FROM iniciativas 
        WHERE id=#{identificador};   
    </select>
    

    <insert id='insertarIniciativa' parameterType="map">
	INSERT INTO iniciativas VALUES (#{id},#{votos},#{palabraClave},#{nombre},#{estado},#{descripcion},#{area},#{usuario_i},#{correo_i},#{fechar_ini});
    </insert>
	
	<select id="consultarIniciativas" resultMap='IniciativaResult'>
		SELECT * FROM iniciativas;
	</select>

	<update id='cambiarEstado' parameterType="map">
		UPDATE iniciativas SET estado=#{estado} WHERE id = #{id};
	</update>

  	
</mapper>