<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.cvds.samples.persistence.mybatis.mappers.UsuarioMapper">
	    
    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='usuario' column='USUARIO'/>        
        <result property='passw' column='PASSW'/>
        <result property='correo' column='CORREO'/>
        <result property='nombre' column='NOMBRE'/>
		<result property='apellido' column='APELLIDO'/>
		<result property='rol' column='ROL'/>
    </resultMap>
  		
	<select parameterType="map" id='consultarUsuario' resultMap='UsuarioResult'>
		SELECT
            *
        FROM USUARIOS 
        WHERE usuario=#{us};
	</select>
	
	<insert id='registrarUsuario' parameterType="map">
		INSERT INTO usuarios VALUES (#{usuario},#{passw},#{correo},#{nombre},#{apellido},#{rol});
    </insert>
	
	<!--usuario,
			correo,
			nombre,
			apellido,
			rol-->
	
	<select parameterType="map" id='consultarUsuarios' resultMap='UsuarioResult'>
		SELECT * FROM USUARIOS as us; 
	</select>

</mapper>