<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    
    <properties resource="config.properties">
    </properties>
    <typeAliases>
        <typeAlias type="edu.eci.cvds.samples.entities.Usuario" alias="Usuario"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Iniciativa" alias="Iniciativa"/>
		<typeAlias type="edu.eci.cvds.samples.entities.Comentario" alias="Comentario"/>
		<typeAlias type="edu.eci.cvds.samples.entities.Voto" alias="Voto"/>
		<typeAlias type="edu.eci.cvds.samples.entities.PalabraClave" alias="PalabraClave"/>
		<typeAlias type="edu.eci.cvds.samples.entities.Interes" alias="Interes"/>
    </typeAliases>	

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-34-204-22-76.compute-1.amazonaws.com:5432/d12ppcftoh8t13?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="oxggktjyjjaotw" />
                <property name="password" value="fcc65c852a2d83c8d7a41bc7efa0ab64372c3d2045addfa612efaa14ee9dd006" />

            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/UsuarioMapper.xml"></mapper>
        <mapper resource="mappers/IniciativaMapper.xml"></mapper>
		<mapper resource="mappers/ComentarioMapper.xml"></mapper>
		<mapper resource="mappers/VotoMapper.xml"></mapper>
		<mapper resource="mappers/PalabraClaveMapper.xml"></mapper>
		<mapper resource="mappers/InteresMapper.xml"></mapper>
    </mappers> 
			
        
</configuration>
